# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
package-lock.json

portfolio-react/node_modules
portfolio-react/dist
portfolio-react/dist-ssr
portfolio-react/.vscode
portfolio-react/.idea
portfolio-react/.DS_Store
portfolio-react/.vscode/*
portfolio-react/.idea
portfolio-react/.DS_Store
portfolio-react/package-lock.json   
portfolio-react/.env
portfolio-react/.env.local
portfolio-react/.env.development.local
portfolio-react/.env.test.local
portfolio-react/.env.production.local   
